#Direct-1 {
    font-family: 'Oxanium', cursive;
    color: var(--white);
    font-weight: 300;
    padding: 295px 0px 259px 50px;
    font-size: 16px;
}

#Direct-2 {
    font-family: 'Oxanium', cursive;
    color: RoyalBlue;
    font-weight: 600;
    font-size: 16px;
}

.direct-text {
    font-family: 'Oxanium', cursive;
    color: var(--white);
    padding: 20px 0px 27px 50px;

}