@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
    --just-black:    #000000;
    --black:         #161a1d;  
    --gray-d4:       #212529;
    --gray-d3:       #343a40;  
    --gray-d2:       #495057; 
    --gray-d1:       #6c757d;  
    --gray:          #adb5bd;  
    --gray-l1:       #ced4da; 
    --gray-l2:       #dee2e6; 
    --gray-l3:       #e9ecef; 
    --gray-l4:       #eef1f3;
    --white:         #f8f9fa;
    --pure-white:    #ffffff;

    --dblue-d:       #1a126e;
    --dblue:         #1a237e;
    --dblue-l:       #1a348e;

    --deep-sea-blue: #004780;
    --img-bg1: url("https://avan-xli.github.io/assets/img_bg1.jpg");
    --img-bg2: url("https://avan-xli.github.io/assets/img_bg2.jpg");
}

* {
    text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
    background-color: var(--white);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/*--- Nav ---*/
li {
	list-style: none;
    position: relative;
}

li a {
    text-align: center;
    top: 24%;
}

nav ul {
	display: flex;
    
}

nav {
	display: flex;	
	justify-content: space-between; /*spreads out elements horizontally*/
	align-items: center; /*vertically aligns elements within their container*/
    background-color: var(--just-black);
    height: 50px;
}
  
nav ul a:hover, 
nav ul a:focus, 
nav ul a:active {
    color: #ced4da;
    text-decoration: none;
}

nav ul a {
    position: relative; /*position*/
    display: flex; /*item*/
    margin: 0 12px; /*Spacing bettween element*/
    letter-spacing: 1px; /*Spacing bettween each letter*/
    font-size: 12px; /*font size for navigation text*/
    line-height: 16px; /*hover bar hight*/
    font-weight: 500; /*Text weight (thickness)*/
    text-transform: uppercase; /*Text on navigation*/
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in; /*hover animation speed*/
    color: #ced4da;
}

.navani::before { /*hover animation closing*/
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    height: 3px;
    width: 100%;
    background-color: var(--dblue-l);
    transform: scale(0, 0.4);
    transition: color 1.1s,transform 0.3s ease-out;
}

.navani:hover::before, 
.navani:focus::before { /*hover animation active*/
    background-color: var(--dblue-l);
    transform-origin: center;
    transform: scale(1, 0.4);
}

.navhov:hover {
    color: var(--deep-sea-blue);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.5s;
}

.navhov {
    color: var(--gray-l4); /*#eeaa00;*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: color 0.5s, color 0.5s; /*hover animation speed*/
}

#logo {
	height: 30px;
    justify-content: left;
    top: 15%;
    padding: 0px 30px;
}

#ptitlea {
    font-family: 'Oxanium', cursive;
    padding: 185px 15px 185px 75px;
    color: var(--just-black);
    font-weight: 500;
    font-size: 84px;
}

#ptitleb {
    font-family: 'Open Sans', sans-serif;
    padding-left: -5px;
    color: var(--dblue);
    font-weight: 600;
    font-size: 84px;
}

.mtitle {
    font-family: 'Oxanium', cursive;
    color: var(--just-black);
    font-weight: 500;
    font-size: 84px;
}

/*--- Header ---*/

.img-bg1 {
    background-image: var(--img-bg1);
}

.img-bg2 {
    background-image: var(--img-bg2);
}

.co-dsb {
    background-color: var(--deep-sea-blue);
}

.hero-full {
    height: 93.5vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-l-banner {
    height: 73.5vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-banner {
    height: 53.5vh;
    width: 100vw;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-s-banner {
    height: 33.5vh;
    width: 100vw;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-ml {
    background-color: var(--deep-sea-blue);
    height: 33.5vh;
    width: 100vw;
}

.hero-image-blank {
    height: 100vh;
    width: 98.9vw;
    background-color: #aaaaaa;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-full {
    padding: 264px 0px;   
}

.block-l-banner {
    padding: 276px;   
}

.block-banner {
    padding: 60px 0px;   
}

.block-s-banner {
    padding: 67px 0px;
}

.block-start {
    padding: 15px 0px;
}

.block-ef {
    padding: 60px 0px;
}

.block-end {
    padding: 15px 0px;
}

/*---Class---*/

.Stitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-weight-title);
    padding: 0px 0px 0px 75px;
    font-size: 84px;
}

/*--- Objects ---*/

.horiline {
    width: auto;
    border: 0.1px solid var(--gray-d4);
    align-content: center;
    margin: 30px;
}

.vertline {
    height: 26px;
    border: 0.1px solid #ced4da;
    align-content: center;
}

/*--- footer ---*/

footer {
    display: flex;
    background-color: var(--gray-d4);
    color: #dee2e6;
}

.footext {
    font-family: 'Oxanium', cursive;
    text-align: right;
    font-size: 12px;
    color: inherit;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;

}

/*--- Text Style ---*/

h1 {
    text-align: 0px 10px;
    padding: 0px 50px 0px 50px;
    color: var(--just-black);
    font-size: 50px;
}

h2 {
    text-align: 0px 10px;
    padding: 30px 50px 0px 50px;
    color: var(--just-black);
    font-size: 45px;
}

h3 {
    text-align: 0px 0px;
    padding: 0px 50px 0px 50px;
    color: var(--just-black);
    font-size: 40px;
}

h4 {
    text-align: 0px 10px;
    padding: 0px 0px 0px 50px;
    color: var(--just-black);
    font-size: 35px;
}

h5 {
    text-align: 0px 10px;
    padding: 30px 50px 0px 50px;
    color: var(--just-black);
    font-size: 30px;
}

h6 {
    text-align: 100px 10px;
    padding: 0px 50px 0px 50px;
    color: var(--just-black);
    font-size: 25px;
    font-weight: 400;
}

p {
    text-align: 100px 10px;
    padding: 0px 50px 0px 50px;
    color: var(--just-black);
    font-size: 20px;
    font-weight: 400;
}

#Avan_41 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 75px;
}

#A3x2a {
    font-family: 'Oxanium', cursive;
    font-weight: 300;
    padding: 0px 0px 0px 75px;
    font-size: 75px;
    margin: 0;
}